<style>
    .bright { color : red; }
    .big  { font-size : 30pt}
</style>

<h1>Data Binding Demo</h1>

<input type="checkbox"  #bright  (click)="1==1" >Bright 
<input type="checkbox"  #big  (click)="1==1" >Big

<h2 [ngClass]="{'bright' : bright.checked, 'big' : big.checked}">
    {{title}}
</h2>


<!--
<h2 [class.bright]='bright.checked' 
    [class.big]='big.checked'>
    {{title}}
</h2>

-->

<button (mousemove)="showMouse($event)">Move Mouse On Me</button>

<p></p>

<input type="{{itype}}"/>

<p></p>
<table border="1">
    <tr>
        <td [attr.colspan]="nocols">1,1</td>
        <td>1,2</td>
    </tr>
    <tr>
        <td>2,1</td>
        <td>2,2</td>
    </tr>
</table>